.App {
  text-align: center;
}
.Header {
  color: black;
  text-shadow: 10px 10px 5px greenyellow;
}
/* write your parent styles in here for your App.js */
.card{
  width: 33%;
  height: auto;
  margin: 0 auto;
  margin-top: 5%;
  box-shadow: 20px 20px 25px greenyellow;
}